<div class="container">
  <div class="row">
    <div class="error-msg" style="margin-bottom: 5rem;">
      <h2>Error</h2>
      <p>データベースに指定されたisbnコードの情報がありませんでした，</p>
    </div>
    <h4>データ登録</h4>
    <div class="input-field  col s10 offset-s1 m8 offset-m2 xl6 offset-xl3">
      <form action="/books/manual" method="post" enctype="multipart/form-data">
        <label for="title">タイトル</label>
        <input type="text" name="title" id="title" required/>
        <label for="authoer">作者</label>
        <input type="text" name="authoer" id="authoer" required/>
        <label for="description">説明</label>
        <textarea class="materialize-textarea" type="text" name="description" id="description"　required></textarea>
        <label for="isbn">ISBN　（スペース，ハイフン不要）</label>
        <input type="text" name="isbn" id="isbn" required>
        <div class="file-field input-field">
          <div class="btn">
            <span>File</span>
            <input type="file" name="file" required>
          </div>
          <div class="file-path-wrapper">
            <input class="file-path validate" type="text" placeholder="サムネイル画像を選択してください">
          </div>
        </div>
        <label for="new_tags">新規タグ登録　（カンマで区切ってください）</label>
        <input type="text" name="new_tags" id="new_tags">
        <br><br>
        <% Tag.all.each do |tag|%>
          <div class="chip" style="margin-right: 1rem;">
            <label class="">
              <input class="filled-in" type="checkbox" name="existing_id[]" id="" value="<%= tag.id%>">
              <span class="blue-grey-text text-darken-1"><%= tag.tag_name%></span>
            </label>
          </div>
        <% end %>
        <br>
        <br>
        <div class="right-align" style="width: auto;">
          <button class="btn waves-effect waves-light" type="submit" name="action">Submit
            <i class="material-icons right">send</i>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>