<div class="container">
<form action="/books/new" method="post">
  <label for="isbn">isbn バーコードの下に書いてある13桁の番号</label>
  <input type="number" name="isbn" id="isbn" />
  <label for="tag">tag_name （カンマ,で区切ってください）</label>
  <input type="text" name="tag" id="tag" />


  <button class="btn waves-effect waves-light" type="submit" name="action">Submit
    <i class="material-icons right">send</i>
  </button>
</form>
</div>