<div class="container">
<form action="/books/new" method="post">
  <label for="title">title</label>
  <input type="text" name="title" id="title" />
  <label for="authoer">authoer_name</label>
  <input type="text" name="authoer" id="authoer" />
  <label for="desctiption">desctiption</label>
  <input type="text" name="desctiption" id="desctiption" />
  <label for="thumbnail">thumbnail</label>

  <input type="file" name="file">
  <br>
  <br>
  <label for="tag">tag_name （,で区切ってください）</label>
  <input type="text" name="tag" id="tag" />
  <label for="isbn">isbn</label>
  <input type="number" name="isbn" id="isbn" />


  <button class="btn waves-effect waves-light" type="submit" name="action">Submit
    <i class="material-icons right">send</i>
  </button>
</form>
</div>