    <div class="container">
      <div class="row">
        <div class="col l2 offset-l3 m3 offset-m1 s3 offset-s4 mypage-img">
          <img
            src="https://picsum.photos/200/200/?blur"
            alt=""
            class="circle responsive-img"
          />
        </div>
        <div
          class="col l3 offset-l1 m3 offset-m1 s5 offset-s4"
          style="margin-top: 10%;"
        >
          <a href="" style="" class="flow-text">@salashasha </a>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col s12">
          <ul class="tabs">
            <li class="tab col s3">
              <a class="active" href="#mybooks">My books</a>
            </li>
            <li class="tab col s3">
              <a class="" href="#favorite">favorite</a>
            </li>
            <li class="tab col s3">
              <a href="#history">history</a>
        </div>
        <%# mybooks tab ----------------------------------------------------　%>
        <div id="mybooks" class="col s12">
          <div class="row" >
          <% @books.each do |book| %>
            <div class="col s4 offset-s1 m3 offset-m1 l2 offset-l1 card">
              <div
                class="card-title card-image waves-effect waves-block waves-light"
              >
                <img
                  class="activator"
                  src=<%= book.thumbnail %>
                />
              </div>
              <div class="card-content">
                <span class="grey-text text-darken-4"><%= book.title%></span>
                <p><a href="#">
                <% @authoers.where(book_id: book.id).each do |authoer|%>
                  <%= authoer.name %>
                <% end %>
                </a></p>
              </div>
              <div class="card-tags" style="font-size: 2rem;">
                <a href="" style="position: relative;">
                  <div class="chip" style="">
                    Tag
                  </div>
                </a>
                <a href="">
                  <div class="chip ">
                    ビジネス
                  </div>
                </a>
                <a href="">
                  <div class="chip">
                    像
                  </div>
                </a>
              </div>
            </div>
          <%end%>
          </div>
        </div>
        <%# favorite tab ---------------------------------------------------- %>
        <div id="favorite" class="col s12">
          <div class="row" >
            <div class="col s4 offset-s1 m3 offset-m1 l2 offset-l1 card">
              <div
                class="card-title card-image waves-effect waves-block waves-light"
              >
                <img
                  class="activator"
                  src="http://books.google.com/books/content?id=DioBrgEACAAJ&printsec=frontcover&img=1&zoom=1&source=gbs_api"
                />
              </div>
              <div class="card-content">
                <span class="grey-text text-darken-4">夢を叶えるゾウ</span>
                <p><a href="#">水野敬也</a></p>
              </div>
              <div class="card-tags" style="font-size: 2rem;">
                <a href="" style="position: relative;">
                  <div class="chip" style="">
                    Tag
                  </div>
                </a>
                <a href="">
                  <div class="chip ">
                    ビジネス
                  </div>
                </a>
                <a href="">
                  <div class="chip">
                    像
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
        <%# history tab ----------------------------------------------------　%>
        <div id="history" class="col s12">
          <div class="row" >
            <div class="col s4 offset-s1 m3 offset-m1 l2 offset-l1 card">
              <div
                class="card-title card-image waves-effect waves-block waves-light"
              >
                <img
                  class="activator"
                  src="http://books.google.com/books/content?id=DioBrgEACAAJ&printsec=frontcover&img=1&zoom=1&source=gbs_api"
                />
              </div>
              <div class="card-content">
                <span class="grey-text text-darken-4">夢を叶えるゾウ</span>
                <p><a href="#">水野敬也</a></p>
              </div>
              <div class="card-tags" style="font-size: 2rem;">
                <a href="" style="position: relative;">
                  <div class="chip" style="">
                    Tag
                  </div>
                </a>
                <a href="">
                  <div class="chip ">
                    ビジネス
                  </div>
                </a>
                <a href="">
                  <div class="chip">
                    像
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>