<div class="container">
<form action="/signup" method="post">
  <label for="email">mail_address</label>
  <input type="email" name="email" id="email" />
  <label for="password">password</label>
  <input type="password" name="password" id="password"/>
  <label for="name">user_name</label>
  <input type="text" name="name" id="name">
  <button class="btn waves-effect waves-light" type="submit" name="action">Submit
    <i class="material-icons right">send</i>
  </button>
</form>
</div>