html {
  /* ルートのフォントサイズを10pxに設定しておく */
  font-size: 60.5%;
  height: 100%;
}

.wrapper-nav {
  height: 6rem;
}

.nav-row {
  padding-top: 1rem;
}

.wrapper-left {
  min-height: 100vh;
}

.title-text {
  font-size: 5rem;
  margin: 30% auto;
}

.wrapper-right {
  height: 100vh;
}

.row {
  margin-bottom: 0px;
}

.login {
  margin: 30% auto;
}

.login h2 {
  font-size: 3rem;
}

input {
  display: inline-block;
}

.search-box {
  border-radius: 50px;
}

.nav-middle {
  float: left;
}

.search-left,
.search-right {
  display: inline-block;
}

.search-left {
  width: 80%;
}

.search-right {
  margin-left: 2rem;
}

.card-title {
  font-size: 2rem;
}

.card-tags {
  margin-bottom: 1rem;
}

.book-info {
  margin-top: 5rem;
}

.info-img {
  margin: 0 auto;
  margin-top: 4rem;
}

.info-owner {
  padding-top: 4rem;
}

.info-owner img {
  height: 5rem;
  width: auto;
}

.mypage-img {
  margin: 4rem 0rem;
}

.chip {
  width: auto;
  font-size: 1rem;
}

.badge {
  border-radius: 10px;
}

.tag_check_box {
  margin-right: 5px;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}