    <div class="wrapper-nav light-blue lighten-4">
      <div class="row nav-row">
        <div href="/books" class="col s2 white-text center nav-right">
          <a class="nav-logo" href="/books">books</a>
        </div>
        <div class="col s7 m5 offset-m1 nav-middle center">
          <div class="search-left">
            <input type="search" />
          </div>
        </div>
        <div class="col s1 search-right" style="margin-top: 5px;">
          <a class="btn-floating btn waves-effect waves-light"
            ><i class="material-icons blue-grey darken-1">search</i></a
          >
        </div>
      </div>
    </div>