          <div class="card-tags" style="font-size: 2rem;">
            <% book.tags.each do |tag| %>
            <a href="" style="position: relative;">
              <div class="chip" style="">
                <%= tag.tag_name %>
              </div>
            <% end %>
          </div>